body {
    background-color: #283149;
    text-align: center;
    height: 100vh;
}

h1 {
    margin: auto;
    font-size: 5rem;
    font-family: "Arvo", cursive;
    color: #dbedf3;
    text-shadow: 3px 3px red;
    margin-bottom: 6%;
}

.drum {
    width: 150px;
    height: 150px;
    border: 10px solid #404b69;
    border-radius: 20px;
    background-color: white;
    font-size: 6rem;
    font-family: "Arvo", cursive;
    color: #da0463;
    text-shadow: 0 3px green;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 3px 5px 3px #0bafe6;
    line-height: 1;
}

.drum:hover {
    opacity: .8;
    transition: all .3s ease-in-out;
    box-shadow: 3px 5px 5px 3px #f71111;
}

.btn-container {
    margin-bottom: 10%;
}

footer {
    color: aliceblue;
    font-size: 1.2rem;
}

footer:hover {
    text-shadow: #da0463 3px 3px 3px;
    font-size: medium;
}
